body {
  background: papayawhip;
  margin: 0;
}

* {
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.a, .f {
  width: 100%;
  min-height: 30vh;
}

.b {
  width: 100%;
  min-height: 60vh;
}

.c, .d, .e {
  width: 32%;
  min-height: 30vh;
}

@media (min-width: 600px) {

  .container2 {
    width: 75%;
    order: 2;
  }

  .b {
    order: 1;
    min-height: 30vh;
  }

  .c {
    order: 2;
  }

  .d {
    order: 3;
  }

  .e {
    order: 4;
  }
  
  .f {
    width: 24%;
    height: 200px;
    order: 5;
    min-height: 60vh;
  }

}