body {
  background: papayawhip;
  margin: 0;
}

* {
  border: 1px solid black;
}

.container {
  display: flex;
  text-align: center;
  min-height: 98vh;
  flex-direction: row;
  flex-flow: row wrap;
}

.a {
  min-width: 100%;
  min-height: 10vh;
}

.b {
  min-width: 100%;
  min-height: 50vh;
}

.c {
  min-width: 32%;
  min-height: 20vh;
}

.d {
  min-width: 32%;
  min-height: 20vh;
}

.e{
  min-width: 32%;
  min-height: 20vh;
}

.f {
  min-width: 100%;
  min-height: 20vh;
}

@media (min-width: 600px) {

  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    min-height: 30vh;
  }

  .b {
    min-height: 33.3vh;
    height: max-content;
    min-width: 75vw;
    order: 1;
  }

  .c, .d, .e {
    min-height: 33.3vh;
    min-width: 25vw;
    order: 3;
    margin-top: -15em;
  }

  .f {
    min-height: 68vh;
    min-width: 20vw;
    flex-grow: 1;
    order: 2;
  }

}